EXPO_PUBLIC_SUPABASE_URL=https://coqxsddnjhlltpkluqrz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvcXhzZGRuamhsbHRwa2x1cXJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0MDIxNjEsImV4cCI6MjA5NDk3ODE2MX0.ab0gDmZQkzZaLWny5wzsyH6Su9RwujAURZGzCRkUIho
